html {
    font-size: 16px;
    font-family: var(--font-family);
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: calc(375/16 * 1rem);
    margin: 0 auto;
}

.h1 {
    font-size: var(--fs-1);
    line-height: var(--lh-1);
    font-weight: var(--fw-black);
    text-transform: uppercase;
    color: var(--color-3);
}

.h2 {
    font-size: var(--fs-2);
    line-height: var(--lh-2);
    font-weight: var(--fw-black);
    text-transform: uppercase;
}

.h3 {
    font-size: var(--fs-3);
    line-height: var(--lh-3);
    font-weight: var(--fw-black);
    text-transform: uppercase;
}

.body {
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    font-weight: var(--fw-medium);
    color: var(--color-4);
}

.btn {
    width: calc(150/16 * 1rem);
    height: calc(48/16 * 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(8/16 * 1rem);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    line-height: var(--lh-body);
    text-transform: uppercase;
}

.nav {
    width: calc(327/16 * 1rem);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(23/16 * 1rem) auto calc(64/16 * 1rem);
}

.nav a {
    background-color: var(--color-5);
    color: var(--color-3);
}

.header {
    margin-bottom: calc(24/16 * 1rem);
    position: relative;
    overflow: hidden;
}

.header__title,
.header__description {
    margin-bottom: calc(32/16 * 1rem);
}

.header__text-container {
    width: calc(327/16 * 1rem);
    height: auto;
    margin: 0 auto calc(64/16 * 1rem);
}

.header__order-container {
    width: calc(310/16 * 1rem);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order__link {
    background-color: var(--color-1);
    color: var(--color-6);
}

.header__order-container p {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.header__image {
    background-image: url(../assets/mobile/image-keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(372/16 * 1rem);
    height: calc(331/16 * 1rem);
    margin-left: calc(24/16 * 1rem);
    border-radius: calc(24/16 * 1rem) 0 0 calc(24/16 * 1rem);
}

.section-one {
    position: relative;
    overflow: hidden;
    margin-bottom: calc(111/16 * 1rem);
}

.section-one__image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(calc(-22/16 * 1rem));
    margin-bottom: calc(75/16 * 1rem);
}

.section-one__image-one {
    position: relative;
    background-image: url(../assets/mobile/image-phone-and-keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(129/16 * 1rem);
    height: calc(193/16 * 1rem);
    border-radius: 0 calc(24/16 * 1rem) calc(24/16 * 1rem) 0;
}

.section-one__image-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    mix-blend-mode: multiply;
    border-radius: 0 calc(24/16 * 1rem) calc(24/16 * 1rem) 0;
}

.section-one__image-two {
    background-image: url(../assets/mobile/image-glass-and-keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(220/16 * 1rem);
    height: calc(193/16 * 1rem);
    border-radius: calc(24/16 * 1rem);
}

.section-one__title {
    width: calc(255/16 * 1rem);
    height: auto;
    text-align: center;
    margin: 0 auto calc(24/16 * 1rem);
}

.section-one__description {
    width: calc(327/16 * 1rem);
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.section-two {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    object-fit: cover;
    gap: calc(64/16 * 1rem);
    margin-bottom: calc(96/16 * 1rem);
}

.section-two__grid-one,
.section-two__grid-two,
.section-two__grid-three,
.section-two__grid-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(327/16 * 1rem);
    height: auto;
    margin: 0 auto;
}

.grid-img {
    width: calc(65/16 * 1rem);
    height: calc(65/16 * 1rem);
    background-color: var(--color-1);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(48/16 * 1rem);
}

.grid-one__title,
.grid-two__title,
.grid-three__title,
.grid-four__title {
    text-align: center;
    margin-bottom: calc(24/16 * 1rem);
}

.grid-one__description,
.grid-two__description,
.grid-three__description,
.grid-four__description {
    text-align: center;
}

.footer {
    text-align: center;
    margin-bottom: calc(50/16 * 1rem);
}

.footer__text--bold {
    font-weight: var(--fw-bold);
}

@media screen and (min-width: 768px) {
    body {
        width: calc(768/16 * 1rem);
    }

    .btn {
        width: calc(175/16 * 1rem);
        height: calc(58/16 * 1rem);
    }

    .nav {
        width: calc(689/16 * 1rem);
        margin: calc(40/16 * 1rem) auto calc(62/16 * 1rem);
    }

    .header {
        margin-bottom: calc(40/16 * 1rem);
    }

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: calc(689/16 * 1rem);
        height: calc(425/16 * 1rem);
        margin: 0 auto;
    }

    .header__text-container,
    .header__order-container {
        width: calc(339/16 * 1rem);
        margin: 0;
    }

    .header__title {
        margin-bottom: calc(34/16 * 1rem);
    }

    .header__description {
        margin-bottom: calc(39/16 * 1rem);
    }

    .header__image {
        position: absolute;
        top: 0;
        right: -20%;
        background-image: url(../assets/tablet/image-keyboard.jpg);
        background-size: contain;
        width: calc(478/16 * 1rem);
        height: calc(425/16 * 1rem);
        margin: 0;
    }

    .section-one {
        width: calc(689/16 * 1rem);
        margin: 0 auto calc(142/16 * 1rem);
    }

    .section-one__image {
        margin-bottom: calc(72/16 * 1rem);
        transform: translateX(0);
    }

    .section-one__image-one {
        background-image: url(../assets/tablet/image-phone-and-keyboard.jpg);
        width: calc(214/16 * 1rem);
        height: calc(320/16 * 1rem);
        border-radius: calc(24/16 * 1rem);
    }

    .section-one__image-one::after {
        border-radius: calc(24/16 * 1rem);
    }

    .section-one__image-two {
        background-image: url(../assets/tablet/image-glass-and-keyboard.jpg);
        width: calc(445/16 * 1rem);
        height: calc(320/16 * 1rem);
    }

    .section-one__text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: calc(689/16 * 1rem);
        margin: 0 auto;
    }

    .section-one__title {
        margin: 0;
        text-align: left;
    }

    .section-one__description {
        margin: 0;
        text-align: left;
        width: calc(398/16 * 1rem);
    }

    .section-two {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: calc(72/16 * 1rem);
        column-gap: calc(11/16 * 1rem);
        margin: 0 0 calc(142/16 * 1rem) calc(40/16 * 1rem);
    }

    .section-two__grid-one,
    .section-two__grid-two,
    .section-two__grid-three,
    .section-two__grid-four {
        align-items: flex-start;
        width: calc(281/16 * 1rem);
        margin: 0;
    }

    .grid-one__title,
    .grid-two__title,
    .grid-three__title,
    .grid-four__title {
        text-align: left;
    }

    .grid-one__description,
    .grid-two__description,
    .grid-three__description,
    .grid-four__description {
        text-align: left;
    }
}